 <%inherit file="base.htm" />


<!DOCTYPE html>
<html lang="en" class="no-js">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74941206-1', 'auto');
  ga('send', 'pageview');

</script>
<head>
    <meta charset="UTF-8" />
    <title>Hotspot</title>
    <meta name="description" content="" />
    <meta name="keywords" value="" />
    <link rel="stylesheet" href="/static/homePage/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/static/homePage/css/hotspot-map-editor.css" type="text/css" />
    <!--Minify file above for production
    <link rel="stylesheet" href="/static/homePage/css/hotspot-map.min.css" type="text/css" /> 
    -->
    <link rel="stylesheet" href="/static/homePage/css/lib/colorpicker.css" type="text/css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/static/homePage/js/lib/modernizr-2.min.js"> </script>
</head>
<body>
    <%block name="content">
    %if identifiedChars == 'no characters':
        <hr>
    %else:
        %for i in identifiedChars:
        <a class = "hotspotInfo" id = ${i.id}
        data-id = ${i.id}
        data-x = ${i.hotspot_x}
        data-y = ${i.hotspot_y}
        data-width = ${i.hotspot_width}
        data-height = ${i.hotspot_height}
        %if i.sign is None:
          data-sign = 'None'
        %else:
          data-sign = ${i.sign.filepath}
        %endif
        > </a>
        %endfor
    %endif
    <div>
        <center><h3>Drag the signs onto the image of the tablet and then resize the sign to fit the corresponding sign on the image. </h3></center>
    </div>
    <div id="shell" data-username=${request.user}>
        <div id="hb-shell">
            <div id="hb-map-wrap">
                <img id ='Tablet' src ="/static/homePage/images/Tablets/KUG03-obv-01.jpg">
            </div>
        </div>
    </div>
    <div id = "Assyrian_sign" class = "inline" style = " bottom: 0px; background-color: black; position: fixed; width: 100%; z-index: 10000"><span style="color: white;" id = "line_text" >Line 1</span>
      <ul class="social-icons list-inline draggable-char col-md-12 col-sm-12 col-xs-12">
            <!--Found the code to center vertically online at http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ and it worked like a charm-->
            <li style="position: relative; top:50%; transform: translateY(-50%);" id = "previous_line" ><i class="fa fa-arrow-circle-left fa-4x fa-inverse "></i></li>
          %for object in characters:
              <li id ="List${object.line}${object.positionNO}"><img id = "Sign${object.line}${object.positionNO}" data-id = ${object.line}${object.positionNO} data-sign = ${object.Sign.id} data-line = ${object.line} class = "Individual_signs" src="${object.Sign}"></li>
          %endfor
            <li style="position: relative; top:50%; transform: translateY(-50%);" id = "next_line"><i class="fa fa-arrow-circle-right fa-4x fa-inverse "></i></li>
      </ul>
    </div>
    <script src="/static/homePage/js/lib/jquery.min.js"></script>
    <script src="/static/homePage/js/lib/colorpicker.js"></script>
    <script src="/static/homePage/js/hotspot-map-editor.js"></script>
    <script src="/static/homePage/js/hotspot-map.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</body>

</%block>