 <%inherit file="base.htm" />
<%block name="content">
<center><h1>Identifying characters</h1>
   <div class = "row">
  <!-- Block to Show Animation -->
    <div class="col s6 m4 offset-m1 l3 offset-l2">
      <div id="animate">
        <div class="card medium">
            <div class="card-image">
              <img id = "animate_img" src ="/static/homePage/images/Tablets/KUG03-tutorial1.jpg" > 
            </div>
            <div class="card-content">
              This is how a character appears on a tablet. 
            </div>
        </div>
      </div>
      <div id ="animate_box">
      </div>
    </div>
  <!-- User test block -->
    <div class="col s6 m4 offset-m2 l3 offset-l2">
        <div class="card medium">
          <div class="card-image">
            <img id="Tablet1" style="background-color: black;" src ="/static/homePage/images/signs/396a.png" > 
          </div>
          <div class="card-content">
            While this is how a character appears as a font.  The font is more stylized than what actually appears.  It is like typing on a computer compared to writing with a pen and pencil. 
          </div>
      </div>
  </div> 
  <div class = "row">
  </div>
  <div class = "row">
    <div class="col s6 m4 offset-m4 l4 offset-l4">
      <center>
        <a class="waves-effect waves-light btn-large" href = "/homePage/tutorial2">Next Step</a> 
      </center>
    </div>
  </div>
 

<div id="modal_continue" class="modal">
    <div class="modal-content">
      <p>Congratulations! Now that you have the basic concept down, we are going to take it up a notch.  </p>
    </div>
    <div class="modal-footer">
      <a href="/homePage/hotspots" class=" modal-action modal-close waves-effect waves-green btn-flat">Let&#8217;s Go!</a>
    </div>
  </div>





<script src="/static/homePage/js/lib/jquery.min.js"></script>
<script src="/static/homePage/js/lib/colorpicker.js"></script>
<script src="/static/homePage/js/tutorial.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/base_app/styles/plugins/bootstrap/js/bootstrap.js">

</%block>